.Menu-Layout {
    background-color: white;
}
.menu-list {
    display: inline-flex;
    flex-wrap: nowrap;
    list-style: none;
}
.menu-list li {
    padding: 0 10px;
}

.menu-list a {
    font-family: 'Nunito', sans-serif;
    color: rgb(3, 88, 173);
    text-decoration: none;
    font-weight: 600;
}