@import url('https://fonts.googleapis.com/css?family=Nunito');

.Hero-Layout {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.title-container {
    background-color: rgb(3, 88, 173);
    margin: 0;
    padding: 0;
    width: 100%;
}

.Hero-Layout img {
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
}

.title-container h1 {
    color: white;
    font-size: 32px;
    margin: 0;
    padding: 0 0 10px 0;
}