.Contact-Layout {
    height: 100%;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    text-align: center;
}
.Contact-Layout p {
    padding: 0;
    margin: 0;
}
.Contact-Layout a {
    color: aqua;
    text-decoration: none;
}
.Contact-Layout a:hover {
    color: white;
}
.Contact-Title {
    padding: 55px 10px 0px 0px;
    font-family: 'Nunito', sans-serif;
}
.Contact-Title h2 {
    font-weight: 600;
}

.Contact-Container {
    margin: 0;
    padding: 20px 0 50px 0;
}
.Social-Container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.Social-Container :nth-child(1){
    width: 100%;
}
.Social-Container a {
    text-decoration: none;
}
.Social-Container a:hover {
    color: white;
}
.Social-Contact img {
    width: 50px;
}
.Social-Title {
    width: 100%;
}
.socialIconContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.Social-Container .socialIconImage { 
    width: 20px;
    margin: 0 10px;
    border-radius: 10px;
}