.About-Layout {
    height: 100%;
    background-color: gainsboro;
    padding: 50px 0;
    margin: 0;
}
.About-Title {
    padding: 10px 10px 0px 20px;
    font-family: 'Nunito', sans-serif;
}
.About-Title h2 {
    font-weight: 600;
}
.About-Section-Container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 20px 0 20px;
}
.About-Description {
    padding: 0px 20px 0 0;
}
.About-Description p {
    text-align: justify;
}
.About-Description span{
    font-weight: bold;
}
.About-Image {
    background: url('../../images/nueve-tercios.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px 0 20px 0;
    padding: 0;
}