#experience {
    font-family: 'Nunito', sans-serif;
    padding: 50px 0 0 0;
}
#experience h2{
    padding-left: 20px;
}
#experience img{
    border: 1px solid rgba(175, 174, 174, 0.884);
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 3px 0 rgba(141, 141, 141, 0.884);
    margin: 0;
    padding: 5px;
}
#experience > .media{
    padding: 10px 20px;
}
#experience > .media:nth-of-type(2n+1){
    background-color: rgb(190, 190, 190);
}

#experience .media-body h5 {
    color: rgb(3, 88, 173);
}
#experience .experience-ul {
    list-style: none;   
    padding: 0;
}
#experience .experience-ul li {
    padding: 3px;
}
#experience .experience-ul li i{
    padding-right: 10px;
}