.Card-Layout {
    background-color: rgba(236, 236, 236, 0.973);
    border-radius: 15px 0 15px 0;
    box-shadow: 1px 1px 3px rgba(190, 190, 190, 0.644);
    font-family: 'Nunito', sans-serif;
    height: 310px;
    margin: 10px 15px 10px 0;
    padding: 0px;
    text-align: center;
    width: 280px;
}
.Card-Layout h3 {
    font-weight: 500;
    font-size: 25px;
    padding: 10px 0;
}
.Card-Layout img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px 0 0px 0;
}
.Card-Layout p {
    margin: 0;
}
.Card-Layout a:hover {
    text-decoration: none;
    color: darkgray;
}